<div class="container">
	<div class="row text-center">
		<div class="title">
			申请新线路
		</div>
	</div>
	<div class="row mt20 font-grey">
		<p>购票说明：30天有60张票，不限来回</p>
		<p>购票说明：30天有60张票，不限来回</p>
		<p>购票说明：30天有60张票，不限来回</p>
		<p>购票说明：30天有60张票，不限来回</p>
	</div>


	<div class="row mt20 text-center">
		<div class="btn-group">
			<input 
				 ng-model="monthlineSelect" autocomplete="off" class="select-input form-control w200"
				 placeholder="请输入详细居住地址"
				 data="monthlineData"
				 name="'value'"
				 login-name="'key'"
				 >
		</div>
	</div>
	<div class="row mt20 text-center">
		<div class="btn-group">
		  <input
				 ng-model="monthticketSelect" autocomplete="off" class="select-input form-control w200"
				 placeholder="请输入详细工作地址"
				 data="monthticketData"
				 name="'value'"
				 login-name="'key'"
				 >
		</div>
	</div>
	<div class="row mt20 text-center">
		<button class="btn btn-success btn-fixed">
			提交申请
		</button>
	</div>
</div>