<div class="container">
	<div class="row text-center">
		<div class="title">
			购&nbsp&nbsp&nbsp票
		</div>
	</div>
	<div class="row text-center mt20">
			<div class=" badge-circle  mr20">
					<div class="row text-center mt18">
					30 天
					</div>
					<div class="row text-center">
					月 票
					</div>
			</div>
			<div class="badge-circle  mr20">
					<div class="row text-center mt18">
					20 天
					</div>
					<div class="row text-center">
					月 票
					</div>
			</div>
			<div class="badge-circle">
					<div class="row text-center mt18">
					单 程
					</div>
					<div class="row text-center">
					车 票
					</div>
			</div>
	</div>
	<div class="row mt20">
		<div class="line">
		</div>
	</div>
	<div class="row mt20 text-center">
		<button class="btn btn-success btn-fixed">
			车辆位置查询
		</button>
	</div>
	<div class="row mt20 text-center">
		<button class="btn btn-success btn-fixed">
			月票上车投票
		</button>
	</div>
	<div class="row mt20">
		<div class="line">
		</div>
	</div>
	<div class="row text-center mt20">
		<div class="title">
			当次车验票信息
		</div>
	</div>
	<div class="row text-center mt20">
		<table class="table table-bus">
			<tbody>
				<tr>
					<td>
					楼巴线路查询
					</td>
					<td>
					申请开通新线路
					</td>
				</tr>
				<tr>
					<td>
					我的乘车记录
					</td>
					<td>
					我的购票记录
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>