	    <nav class="navbar navbar-inverse">
		  <div class="container">		  	
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			   <a class="navbar-brand" href="#">大亚湾楼巴首页</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
				<li><a href="#/pctoo">购月票</a></li>
				<li><a href="#/pctoo">购单程票</a></li>
				<li><a href="#/pctoo">申请新线路</a></li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
    	</nav>